Flask
flask-socketio
gevent
python-dotenv
protobuf
pathlib
--no-binary :uwsgi:
uwsgi
Flask-Mail
itsdangerous
pysha3
pyotp
mysql-connector-python
random-password-generator
email_validator
validate_email
